<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Product</th>
      <th scope="col" class="text-center">Quantity</th>
      <th scope="col" class="text-right">Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of itemList">
      <td><img src="https://dummyimage.com/50x50/55595c/000.png"/></td>
      <td>{{product.name}}</td>
      <td><input class="form-control" type="text" value="1"/></td>
      <td class="text-right">{{product.amount}} €</td>
      <td class="text-right">
        <button class="btn btn-sm btn-danger" (click)="removeProductFromCart(product)"><i class="bi bi-trash"></i></button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Sub-Total</td>
      <td class="text-right">255,90 €</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>Shipping</td>
      <td class="text-right">6,90 €</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><strong>Total</strong></td>
      <td class="text-right"><strong>346,90 €</strong></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
